@font-face {
    font-family: "Lato";
    src: url("../assets/fonts/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: "Lato";
}

body {
    font-family: "Lato", sans-serif;
}

#image_intro {
    width: "50%";
}